<div class="sidebar" ng-controller="SidebarCtrl">
    <nav class="sidebar-nav">
        <ul class="nav">
            <div ng-if="baseLinks.length">
                <li class="nav-item" ng-repeat="link in baseLinks">
                    <a class="nav-link" ng-click="link.action()" style="cursor: pointer;"><i ng-class="link.iconClassname"></i>{{link.name}}</a>
                </li>
            </div>

            <li class="divider"></li>
            <li class="nav-title">
                Tools
            </li>
            <div ng-if="pageLinks.length">
                <li class="nav-item" ng-repeat="link in pageLinks">
                    <a class="nav-link" ng-click="link.action()" style="cursor: pointer;"><i ng-class="link.iconClassname"></i>{{link.name}}</a>
                </li>
            </div>
        </ul>
    </nav>
</div>
